<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Sensor Detail</title>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <h3><a href="/solucionIoT/sensores">Sensor List</a></h3>

            <table>
                <thead>Detalles del sensor cargado recientemente:</thead>
                <tbody>
                    <tr>
                        <td>Modelo:</td>
                        <!-- <td>{{ product.name }}</td> -->
                        <td>
                            <%= sensor.model %>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo: </td>
                        <!-- <td>{{ product.price }}</td> -->
                        <td>
                            <%= sensor.type %>
                        </td>
                    </tr>
                    <tr>
                        <td>Lugar de ubicación: </td>
                        <!-- <td>{{ product.price }}</td> -->
                        <td>
                            <%= sensor.lugarUbicacion %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <h3><a href="/products/edit/{{ product._id }}">EDIT</a></h3> -->
            <h3><a href="/solucionIoT/sensores/edit/<%= idSensor %>">EDITAR</a></h3>
            <!-- <form action="/products/delete/{{ product._id }}" method="post"></form> -->
            <form action="/solucionIoT/sensores/delete/<%= idSensor %>" method="post">
                <button type="submit">DELETE</button>
            </form>

        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>