<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <title>Solution IoT Detail</title>
</head>
<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">
        <main>
            <h3><a href="/solucionIoT/rootInstance">Solution IoT List</a></h3>

            <% if (idRegistro) { %>
                <table>
                    <thead>ID Solution IoT: <%= idRegistro %> </thead>
                    <tbody>                    
                        <tbody>      
                            <tr>
                                <td>
                                    Direccion:    <%= registro.address %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Titular:    <%= registro.apellidoNombre %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email: <%= registro.email %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Telef: <%= registro.telef %>
                                </td>
                            </tr>
                            
                        </tbody>
                    </tbody>
                </table>
            <% } %>
                        
            <h3><a href="/solucionIoT/rootInstance/edit/<%= idRegistro %>">EDITAR</a></h3>
            <form action="/solucionIoT/rootInstance/delete/<%= idRegistro %>" method="post">
                <button type="submit">DELETE</button>
            </form>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>